<%= form_for @comment, url: {action: "create"}, html: {class: "form_horizontal"} do |f| %>
  <%= f.text_area :comment, size: "60x12" %>
  <%= f.collection_select(:song, @songs, :id, :formatted_name) %>
  <div class="form-actions">
  	<%= f.submit "Submit", :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                comments_path, :class => 'btn' %>
  </div>
<% end %>
