<div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Genres</li>
      <li><%= link_to "Top 40", "#"  %></li>
      <li><%= link_to "EDM", "#"  %></li>
      <li><%= link_to "Hip Hop", "#"  %></li>
      <li><%= link_to "R&B", "#"  %></li>
      <li><%= link_to "Rock", "#"  %></li>
      <li><%= link_to "Country", "#"  %></li>
      <li><%= link_to "Hindi", "#"  %></li>
      <li><%= link_to "Punjabi", "#"  %></li>
      <li><%= link_to "70s", "#"  %></li>
      <li><%= link_to "80s", "#"  %></li>
      <li><%= link_to "90s", "#"  %></li>
      <li><%= link_to "00s", "#"  %></li>
      <li><%= link_to "Funk", "#"  %></li>
      <li><%= link_to "Motown", "#"  %></li>
      <li><%= link_to "Jazz", "#"  %></li>
      <li><%= link_to "Blues", "#"  %></li>

    </ul>
  </div><!--/.well -->